body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.flexible-area {
  display: flex;
  margin-bottom: 50px;
}

.half-width {
  width: 50%;
  margin-left: 5%;
}
.half-width img {
  width: 80%;
}

.link-btn {
  color: white;
  padding: 10px 40px;
  background-image: linear-gradient(orange, tomato);
  text-decoration: none;
  font-weight: bold;
}

.top-section {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.experience-item {
  width: 40%;
  box-shadow: 10px 10px 30px gray;
  margin-left: 5%;
  margin-right: 5%;
  padding: 30px;
}

#full-stack-experience {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

#baby-stack-experience {
  border-left: 7px solid;
  border-image: linear-gradient(red, tomato);
  border-image-slice: 1;
}
